/* all styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    /* box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); */
    font-family: "Open Sans", system-ui;
    font-optical-sizing: auto;
}


/* header */
li, a img{
    width: 10%;
}
li, a{
    text-decoration: none;
    color: #3C354F;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 54px;
    align-items: center;
    display: none;
}
nav ul li{
    display: flex;
    gap: 32px;
    color: #3C354F;
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* main-section */
.hero{
    background-image: linear-gradient(#8C57EE06, #F144AE06), url("Group 14.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}
.main-title h3{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 0px;
}
.main-title h1{
    text-align: center;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 24px;
    background: linear-gradient(to bottom, #F948B2, #8758F1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.main-title p{
    color: #534C64;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 20px;
}
.main-title .btn-1, .btn-1{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border-color: none;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.main-title .btn-2{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
/* We are gamer */
.We-are-gamer{
    display: flex;
    justify-content: space-between;
    margin: 55px 100px;
    text-align: end;
}
.gamer-menu{
    margin-top: 95px;
    margin-bottom: 95px;
}
.gamer{
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    background: linear-gradient(to bottom, #F948B2, #8758F1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.gamer-dis{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 20px;
}
.btn-1{
    margin-bottom: 20px;
}
.we-are-gamer-last-title{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}
.we-are-gamer-last-p{
    color: #534C64;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}
/* Online Games Funny Videos */
.Funny-Videos{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.funny-grad{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Funny-Videos-p{
    text-align: center;
    margin-top: 10px;
}
.Online-Games{
    align-items: center;
}
.image-box{
    display: flex;
    justify-content: space-between;
    padding: 60px;
}
.Online-Games img{
    width: 342px;
    height: 400px;
}
.img-p{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}
/* Play Instantly, */
.Play-Instantly-sec{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding-right: 14px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.Play-p{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.Play-Instantly-title{
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    padding-left: 150px;
    padding-top: 200px;
}
.play-grdi{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Play-Instantly-img .small{
    flex-direction: column;
    position: relative;
    left: 100px;
}
.Play-Instantly-img .big{
}